# Climate Data Exploratory Data Analysis

## Introduction
This notebook contains an exploratory data analysis of climate data from 1900 to 2023. The dataset includes global temperatures, CO2 concentration, sea level rise, and Arctic ice area.

Your task is to perform a comprehensive EDA following the requirements in the README.md file.

In [15]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set plot styling
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette('viridis')
%matplotlib inline

## 1. Data Preparation

Load the climate data and perform necessary cleaning and aggregation.

In [21]:
# Load the dataset
df = pd.read_csv('data/Climate_Change_Indicators.csv') # Place the correct path to the file you are reading here (Make sure to load using the relative path)

# Display the first few rows of the dataset
df.head(10)

,Year,Global Average Temperature (°C),CO2 Concentration (ppm),Sea Level Rise (mm),Arctic Ice Area (million km²)
0,1948,13.17,397.04,116.25,5.97
1,1996,13.10,313.17,277.92,9.66
2,2015,14.67,311.95,290.32,8.40
3,1966,14.79,304.25,189.71,11.83
4,1992,13.15,354.52,14.84,11.23
5,1907,13.67,288.50,22.37,11.82
6,1999,15.63,350.70,207.60,7.98
7,1977,13.41,333.02,71.45,10.03
8,2013,14.21,358.54,228.21,3.04
9,1904,15.51,404.95,75.88,13.70

In [20]:
# Check for missing values and basic information about the dataset
print("Dataset Information:")
print(df.info())
print("\nMissing Values:")
print(df.isnull().sum())
print("\nDescription of Data Containing numerical Values:")
print(df.describe())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048576 entries, 0 to 1048575
Data columns (total 5 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   Year                             1048576 non-null  int64
 1   Global Average Temperature (°C)  1048576 non-null  float64
 2   CO2 Concentration (ppm)          1048576 non-null  float64
 3   Sea Level Rise (mm)              1048576 non-null  float64
 4   Arctic Ice Area (million km²)    1048576 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 40.0 MB
None

Missing Values:
Year                               0
Global Average Temperature (°C)    0
CO2 Concentration (ppm)            0
Sea Level Rise (mm)                0
Arctic Ice Area (million km²)      0
dtype: int64

Description of Data Containing numerical Values:
               Year  Global Average Temperature (°C)  CO2 Concentration (ppm)  \
count  1.048576e+06                     1.048576e+06             1.048576e+06
mean   1.961505e+03                     1.449954e+01             3.500280e+02
std    3.579736e+01                     8.661005e-01             4.042409e+01
min    1.900000e+03                     1.300000e+01             2.800000e+02
25%    1.930000e+03                     1.375000e+01             3.149900e+02
50%    1.962000e+03                     1.450000e+01             3.500700e+02
75%    1.993000e+03                     1.525000e+01             3.850200e+02
max    2.023000e+03                     1.600000e+01             4.200000e+02

       Sea Level Rise (mm)  Arctic Ice Area (million km²)
count         1.048576e+06                   1.048576e+06
mean          1.499900e+02                   9.000896e+00
std           8.657659e+01                   3.462551e+00
min           0.000000e+00                   3.000000e+00
25%           7.497000e+01                   6.000000e+00
50%           1.500200e+02                   9.000000e+00
75%           2.249300e+02                   1.200000e+01
max           3.000000e+02                   1.500000e+01

In [93]:
# TODO: Aggregate data by year to create a 124-year time series

years = np.array(list(set(df['Year'])))
column_header = df.columns.tolist() # it will make easier to select column for data representation eg 0 for Year
yearly_data = df.groupby('Year') #Data grouped together on the basis of year

def individual_year(year):
    return yearly_data.get_group(year)

aggregated_data = df.groupby('Year').agg('mean')

## 2. Univariate Analysis

Analyze each climate variable independently.

In [ ]:
# TODO: Perform univariate analysis for each climate variable
# Include descriptive statistics and appropriate visualizations
# Your code here

## 3. Bivariate Analysis

Explore relationships between pairs of climate variables.

In [ ]:
# TODO: Perform bivariate analysis
# Include correlation analysis and appropriate visualizations
# Your code here

## 4. Multivariate Analysis

Investigate relationships among three or more variables.

In [ ]:
# TODO: Perform multivariate analysis
# Create advanced visualizations showing multiple variables
# Your code here

## 5. Conclusions and Insights

Summarize your findings and discuss their implications.

# TODO: Write your conclusions here